
<div class="container" id="home-container">
  <div class="jumbotron jumbotron-fluid bg-cover home-image text-center">
    <div class="container">
      <h1 class="display-3 text-black">Welcome to Cattle Blog</h1>
      <p class="lead text-black">All blog, no bull</p>
      <hr class="my-2">
      <p class="lead">
        <a class="btn btn-dark btn-lg" href="Jumbo action link" role="button">Join the herd!</a>
      </p>
    </div>
  </div>
</div>
