@import 'bootstrap/dist/css/bootstrap.min.css';

html, body {
  height: 100%;
}

.nav-link {
  color: #fff !important; 
}

.bg-cover {
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-image {
  background-image: asset-url('cattle.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

#logo {
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  color: #fff;
}

#home-container {
  margin-top: 25px;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}



